
/* pages links buttons component */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.pagination-button{
    font-size: var(--xs-size);
    color: var(--lightness31);
    border-color: var(--lightness31);
    padding: 0.6875rem 0.875rem;
    border-radius: 0.25rem;
    margin-right: 0.75rem;
}
.pagination-button:not(.disabled):hover{
    cursor: pointer;
    color: var(--blue);
    border-color: var(--blue);
}
.active-pagination-button{
    color: var(--lightness100);
    background-color: var(--blue);
}

