body{
    padding: 4.375rem 11rem 0 11rem;
}
.wrap{
    display:grid;
    grid-template-columns: repeat(2, auto);   
    grid-template-rows: repeat(4, auto); 
    row-gap: 2.625rem;
    column-gap: 2.1875rem;
}
.pages-buttons{
    grid-column: span 2;
    justify-self: end;
}
.projects2{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.left-column{
    grid-column-start: 1;
}
.profile1, .projects-title2, .projects2{
    grid-column: span 2;
} 
.project{
    padding: 1.125rem;
}
.project:not(:nth-child(3)){
    margin-right: 1.9063rem;
}
.project > {
    max-width: 18.25rem;
}


