body{
    padding: 4.0625rem 4.6875rem 0 4.0625rem;
}
section, .project{
    margin-bottom: 2.8125rem;
}
.left-column {
    margin-right: 2.5rem;
}
.profile2, .experiences2-section, .project, .projects-title1, .blog2{
    width: 100%;
}
.wrap{
    display:grid;
    grid-template-columns: repeat(2, auto);
}
.stats-sections{
    display: flex;
}
.projects1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.project{
    display: flex;
}
.project-content1 p{
    max-width: 29.02rem;
}
.front-end-statistics{
    margin-right: 2rem;
}