@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap');
:root{
    --montserrat:'Montserrat', sans-serif;
    --roboto:'Roboto', sans-serif;
    --regular:400;
    --medium:500;
    --semi-bold:600;
    --bold:700;
    --xs-size:0.75rem;
    --s-size:0.875rem;
    --m-size:1rem;
    --l-size:1.125rem;
    --xl-size:1.5rem;
    --lightness20: hsla(0, 0%, 20%, 1);
    --lightness31: hsla(0, 0%, 31%, 1);
    --lightness51: hsla(0, 0%, 51%, 1);
    --lightness77: hsla(0, 0%, 77%, 1);
    --lightness100: hsla(0, 0%, 100%, 1);
    --blue: hsla(214, 84%, 56%, 1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-weight: var(--medium);
}
body{
    min-height: 100vh;
    position: relative;
}
section{
    padding: 1.375rem;
}
/* profile components */

.profile1 img{
    width: 16.9913rem;
    height: 16.6337rem;
    border-radius: 0.75rem;
    margin-right: 2.0981rem;
}
.name{
    font-weight: var(--semi-bold);
    font-size: var(--xl-size);
    color: var(--lightness31);
    margin-bottom: 0.375rem;
}
.job{
    font-size: var(--l-size);
    color: var(--lightness51);
}
.fa{
    color: var(--lightness31);
    margin-right: 1.1494rem;
}
.email{
    font-size: var(--l-size);
    color: var(--lightness31);
    margin-bottom: 0.625rem;
}
.phone{
    font-size: var(--l-size);
    color: var(--lightness31);
}
.profile > p{
    font-size: var(--l-size);
    color: var(--lightness51);
}
.profile1{
    display: flex;
    padding: 1.375rem 1.2769rem 1.4287rem 1.5962rem;
}
.profile1 .content{
    display: flex;
    flex-direction: column;
}
.profile1-infos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3125rem;
}
.container p{
    display: inline-block;
}
.profile2 img{
    width: 21.9375rem;
    height: 21.4375rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}
.profile2 .content p{
    width: 19.875rem;
}
.profile2-infos .intro{
    margin-bottom: 1.9375rem;
}
.profile2-infos .contact{
    margin-bottom: 2.125rem;
}
/* projects components */
.projects1{
    display: flex;
}
.projects1 img{
    width: 24rem;
    height: 16.6875rem;
    border-radius: 0.75rem;
    margin-right: 3.25rem;
}
.technology {
    font-size: var(--m-size);
    color: var(--lightness31);
    margin-right: 0.5625rem;
}
.technologies{
    display: flex;
    margin-bottom: 1.375rem;
}
.project-name{
    font-size: var(--xl-size);
    color: var(--lightness20);
    margin-bottom: 1.125rem;
}
.project-content1 > p{
    font-size: var(--m-size);
    color: var(--lightness51);
    margin-bottom: 3.0625rem;
}
input[value=Demo]{
    color: var(--lightness100);
    padding: 0.8125rem 2.5rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
    margin-right: 0.6875rem;
}
input[value=Code]{
    color: var(--blue);
    padding: 0.75rem 2.1875rem;
    background-color: var(--lightness100);
    border-radius: 0.75rem;
}
.projects2 img{
    width: 21.9375rem;
    height: 16.3125rem;
    border-radius: 0.75rem;
    margin-bottom: 1.375rem;
}
.project-content2 > p{
    width: 21.9375rem;
    margin-bottom: 2.5625rem;
}
/* statistics components  */

.statistics1 h1, .statistics2 h1{
    font-weight: var(--bold);
    font-size: var(--l-size);
    color: var(--lightness31);
    margin-bottom: 1rem;
}
.skill-container{
    display: flex;
    align-items: center;
}
.skill-container p{
    font-weight: var(--medium);
    font-size: var(--m-size);
    color: var(--lightness31);
    text-transform: uppercase;
    margin-right: .5rem;
    min-width: 9rem;
}
.bar-container1{
    width: 21.75rem;
    height: 0.5625rem;
    border-radius: 0.75rem;
    background-color: var(--lightness77);
}
.bar-container2{
    width: 13.875rem;
    height: 0.5625rem;
    border-radius: 0.75rem;
    background-color: var(--lightness77);
}
.bar-pourcentage1{
    width: 65%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}
.bar-pourcentage2{
    width: 83%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}.bar-pourcentage3{
    width: 92%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}.bar-pourcentage4{
    width: 65%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}.bar-pourcentage5{
    width: 83%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}
.bar-pourcentage6{
    width: 92%;
    height: 0.5625rem;
    background-color: var(--blue);
    border-radius: 0.75rem;
}
.statistics1 .skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap:3.3125rem;
}

/* blog components  */

.blog-content > h1, .blog2 > h1{
    font-size: var(--xl-size);
    color: var(--lightness20);
    width: 11.125rem;
}
.blog-content > h1{
    margin-bottom: 1.625rem;
}
.blog-content > p, .blog2 > p{
    font-size: var(--m-size);
    color: var(--lightness51);
    width: 29.0625rem;
    margin-bottom: 3.8125rem;
}
.blog-content > a, .blog2 > a{
    font-size: var(--m-size);
    color: var(--blue);
}
.blog1 > img{
    width: 31.25rem;
    height: 23.75rem;
    border-radius: 0.75rem;
}
.blog1{
    display:flex;

}
.blog-content{
    margin-right: 3.8125rem;
}
.header-image-wrap{
    display: flex;
}
.header-image-wrap > img{
    width: 17.1875rem;
    height: 20.0625rem;
    border-radius: 0.75rem;
    margin-bottom: 3.125rem;
}
.header-image-wrap > h1{
    width: 11.125rem;
    margin-right: 2.5rem;
    margin-top: 1.3125rem;
}

/* experiences components  */

.experiences-section > h1{
    font-size: var(--xl-size);
    color: var(--lightness31);
    margin-bottom: 2.875rem;
}
.experiences1{
    display: flex;
}
.experience{
    display: flex;
}
.experience > img {
    width: 5.25rem;
    height: 5.25rem;
    margin-right: 1rem;
}
.experience-content p:nth-child(1){
    font-size: var(--s-size);
    color: var(--lightness51);
    margin-bottom: 0.75rem;
}
.experience-content p:nth-child(2){
    font-size: var(--m-size);
    color: var(--lightness20);
    margin-bottom: 2.0625rem;
}.experience-content p:nth-child(3){
    font-size: var(--m-size);
    color: var(--lightness51);
}
.experience1{
    margin-right: 4.625rem;
    min-width: 16.9375rem;
}
.experience2{
    margin-bottom: 2.25rem;
    width: 23.3125rem;
}

/* hobbies components  */

.hobbies1{
    display: flex;
}
.hobby1{
    margin-right: 3.75rem;
}
.hobbies h1{
    font-size: var(--xl-size);
    color: var(--lightness31);
    margin-bottom: 1.5625rem;
}
.hobby1 img{
    width: 18.4375rem;
    height: 8.6875rem;
    border-radius: 0.75rem;
    margin-bottom: 1.625rem;
}
.hobby-title{
    font-weight: var(--bold);
    color: var(--lightness20);
    margin-bottom: 0.625rem;
}
.hobby1 p,.hobby2 p{
    font-size: var(--m-size);
    color: var(--lightness51);
}
.hobby2 img{
    width: 23.9375rem;
    height: 8.6875rem;
    border-radius: 0.75rem;
    margin-bottom: 1.625rem;
}
.hobby2{
    margin-bottom: 2.25rem;
}

/* projects title components  */

.projects-title p{
    font-size: var(--xl-size);
    color: var(--lightness31);
}
.projects-title2 p{
    margin-bottom: 1.5625rem;
}
.projects-filter-button{ 
    font-size: var(--s-size);
    color: var(--lightness31);
    border-color: var(--lightness31);
    padding: 0.5rem 1.375rem;
    border-radius: 0.75rem;
    margin-right: 1rem;
}
.projects-filter-button:hover{
    cursor: pointer;
    color: var(--blue);
    border-color: var(--blue);
}
.projects-filter-button:active{
    color: var(--lightness100);
    background-color: var(--blue);
}

/* pages links buttons component */

.pages-buttons > input{
    font-size: var(--xs-size);
    color: var(--lightness31);
    border-color: var(--lightness31);
    padding: 0.6875rem 0.875rem;
    border-radius: 0.25rem;
    margin-right: 0.75rem;
}
.pages-buttons > input:hover{
    cursor: pointer;
    color: var(--blue);
    border-color: var(--blue);
}
.pages-buttons > input:active{
    color: var(--lightness100);
    background-color: var(--blue);
}
.pages-buttons span{
    margin-right: 0.75rem;
}
